@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
* {
    box-sizing: border-box;
}
html {
  font-size: 10px;
  background: url('../img/background.png') bottom center no-repeat;
  background-size: cover;
}
body,html {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
  padding: 0;
}
body {
    min-height: 100vh;
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
}
h2 {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
    font-family: 'Gloria Hallelujah', cursive;
    border: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
#container {
    margin-top: 10em;
    min-height: 50em;
    min-width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    box-shadow: 0 4em 6em -2em rgba(0,0,0,0.2);
    overflow: hidden;
    display: -ms-flexbox;  /* TWEENER - IE 10 */ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    padding: 2em 1.5em;
}
/* Style the h1*/
.title {
    font-size: 5em;
    margin: 0;
    margin-bottom: 0.5em;
    border-bottom: 0.020em solid lightgray;
    text-shadow: 0 0 0.2em black;
}
/* Style the text and span 'counter'*/
.additionalTask {
    font-size: 2em;
    margin-bottom: 1.5em;
    text-shadow: 0 0 .1em black;
}
.additionalTask > span {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: baseline;
    align-items: baseline;
    width: 2em;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    background-color: rgb(61, 89, 122);
    box-shadow: 0 0.3em 0.4em 0 rgba(0,0,0,0.75);
}
/* Style the input and 'add task' button */
.addTask {
    display: flex;
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-align: baseline;
        align-items: baseline;
    -webkit-align-items: baseline;
}
/* Style the input */
.addTask input[type="text"] {
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    height: 3em;
    min-width: 8.500em;
    background: transparent;
    border-radius: 5%;
    border: none;
    /*border-bottom: 0.050em solid orange;*/
    padding: 0.5em;
    outline-color: lightgray;
}
/* Style the Placeholder*/
 /* Chrome/Opera/Safari */
input[type="text"]::-webkit-input-placeholder {
     font-family: 'Gloria Hallelujah', cursive;
     color: black;
}
/* Firefox 19+ */
input[type="text"]::-moz-placeholder{
     font-family: 'Gloria Hallelujah', cursive;
     color: black;
}
 /* IE 10+ */
input[type="text"]:-ms-input-placeholder {
     font-family: 'Gloria Hallelujah', cursive;
     color: black;
}
 /* Firefox 18- */
input[type="text"]:-moz-placeholder  {
     font-family: 'Gloria Hallelujah', cursive;
     color: black;
}
/* Style the 'add task' button */ 
.addTask > button {
    font-size: 2em;
    color: white;
    min-width: 4em;
    padding: 0.3em 1em;
    border-radius: 5%;
    border-bottom: 0.2em solid rgb(203, 103, 76);
    /*background: rgba(255,69,0, 0.9);*/
    background-color: rgb(255, 131, 98);
    outline: none;
    transition: transform .08s ease;
    box-shadow: 0 0.400em 0.400em 0 rgba(0,0,0,0.75);
}
/* Add an animation when clicked on*/
.adding {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
/* Style the List */
ul {
    list-style-type: none;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    width: 100%;
}
/* Style the list items*/
ul li {
    font-size: 1.800em;
    cursor: pointer;
    position: relative;
    padding: 0.667em 0.444em 0.667em 1.111em;
    transition: transform .3s ease;
}
ul li:hover {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    border: 0.2em solid rgb(87, 87, 87);
    box-shadow: 0 0 2em rgb(87, 87, 87);
}
/* Style all list's buttons*/
li button {
    padding: 0.500em 1em;
    margin-right: 0.500em;
    box-shadow: 0 0.400em 0.400em 0 rgba(0,0,0,0.75);
}
li button.complete {
    background-color: rgb(119, 189, 66);
    /*background: rgba(0,0,0,0.4);*/
    border-radius: 5%;
    border-bottom: 0.300em solid rgb(97, 150, 56);
}
li button.delete {
    background-color: rgb(192, 53, 53);
    /*background: rgba(0,0,0,0.4);*/
    border-radius: 5%;
    border-bottom: 0.300em solid rgb(154, 42, 42);
}
/* class done*/
.done {
    color: rgb(119, 189, 66);
    text-decoration: line-through;
}
/* Style the 'remove' button */
#removeFinishedTasksButton {
    width: 100%;
    /*background-color: rgb(255,69,0);*/
    background-color: black;
    height: 5em;
    font-size: 2em;
    /*transition: background-color 0.7s cubic-bezier(0, 0, 0, 1.04);*/
    transition: background-color 0.7s linear;
    margin-top: 2em;
}
#removeFinishedTasksButton:hover {
    background-color: rgb(192, 53, 53)
}
