@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
* {
    box-sizing: border-box;
}
html {
  font-size: 10px;
  background: url('../img/background.png') bottom center no-repeat;
  background-size: cover;
}
body,html {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
  padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
}
h2 {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
    font-family: 'Gloria Hallelujah', cursive;
    border: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

/* Content */
#container {
    margin-top: 10em;
    min-height: 50em;
    min-width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    box-shadow: 0px 40px 60px -20px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 1.5em;
}
/*h1*/
.title {
    font-size: 5em;
    margin: 0;
    margin-bottom: 0.5em;
    border-bottom: 0.020em solid lightgray;
    text-shadow: 0 0 0.2em black;
}
/* Div for text and task counter*/
.additionalTask {
    font-size: 2em;
    margin-bottom: 1.5em;
    text-shadow: 0 0 .1em black;
}
.additionalTask > span {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    width: 2em;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    background-color: rgb(61, 89, 122);
}
/* Div for input and button */
.addTask {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
}
/* Add task input */
.addTask input[type="text"] {
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    height: 3em;
    min-width: 8.500em;
    background: transparent;
    border-radius: 5%;
    border: none;
    /*border-bottom: 0.050em solid orange;*/
    padding: 0.5em;
    outline-color: lightgray;
}
/* Placeholder*/
 /* Chrome/Opera/Safari */
input[type="text"]::-webkit-input-placeholder {
     font-family: 'Gloria Hallelujah', cursive;
     color: black;
}
/* Firefox 19+ */
input[type="text"]::-moz-placeholder{
     font-family: 'Gloria Hallelujah', cursive;
     color: black;
}
 /* IE 10+ */
input[type="text"]:-ms-input-placeholder {
     font-family: 'Gloria Hallelujah', cursive;
     color: black;
}
 /* Firefox 18- */
input[type="text"]:-moz-placeholder  {
     font-family: 'Gloria Hallelujah', cursive;
     color: black;
}
/* Button */
.addTask > button {
    font-size: 2em;
    color: white;
    min-width: 4em;
    padding: 0.3em 0.5em;
    border-radius: 5%;
    border-bottom: 0.2em solid rgb(203, 103, 76);
    /*background: rgba(255,69,0, 0.9);*/
    background-color: rgb(255, 131, 98);
    outline: none;
    transition: transform .08s ease;
}
.adding {
    /*transform: scale(1.1);
    border: 0.2em solid rgb(255, 198, 0);
    box-shadow: 0 0 2em rgb(255, 198, 0);*/
    transform: scale(0.95);
}

/* List */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* List items*/
ul li {
    font-size: 1.800em;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 20px;
    margin-bottom: 5px;
    transition: border-left 0.2s ease;
}
ul li:hover {
    border-left: 1px solid lightgray;
}
/*Buttons*/
li button {
    padding: 5px 10px;
    margin-right: 5px;
    outline: none;
}
li button.complete {
    background-color: rgb(119, 189, 66);
    /*background: rgba(0,0,0,0.4);*/
    border-radius: 5%;
    border-bottom: 0.300em solid rgb(97, 150, 56);
}
li button.delete {
    background-color: rgb(192, 53, 53);
    /*background: rgba(0,0,0,0.4);*/
    border-radius: 5%;
    border-bottom: 0.300em solid rgb(154, 42, 42);
}
.done {
    text-decoration: line-through;
}

/* Remove button */
#removeFinishedTasksButton {
    width: 100%;
    /*background-color: rgb(255,69,0);*/
    background-color: black;
    height: 5em;
    font-size: 2em;
    /*transition: background-color 0.7s cubic-bezier(0, 0, 0, 1.04);*/
    transition: background-color 0.7s linear;
    margin-top: 2em;
}
#removeFinishedTasksButton:hover {
    background-color: rgb(192, 53, 53)
}
